﻿* {
    font-family: Verdana,sans-serif;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 56px;
    box-shadow: 0 0 4px 0 #000;
    background-color: #fff;
    padding: 0 12px;
}

.navbar a {
    font-size: 14px;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    letter-spacing: 3px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.nav-item-left {
    float: left;
}

.nav-item-right {
    float: right;
}

.nav-item-right:hover {
    background-color: #ccc;
    border: none;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;
    margin-right: 94px;
}

header img {
    max-width: 100%;
    height: auto;
    margin-top: 44px;
}

.title-image {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.title-image h1 b {
    display: inline-block;
    background-color: #000;
    color: white;
    padding: 8px 16px;
    opacity: .7;
}

.title-image h1 span {
    font-weight: lighter;
    font-size: 36px;
    color: white;
    letter-spacing: 4px;
}

.container {
    max-width: 1564px;
    position: relative;
}

#projects {
    margin-top: 16px;
}

#projects h3 {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 16px;
    border-bottom: solid #ccc;
}

.projects-content {
    display: flex;
    flex-flow: row wrap;
    margin: 24px auto;
    justify-content: space-around;
}

.projects-item {
    width: 362px;
    max-height: 242px;
    margin: 8px;
    text-align: left;
    display: flex;
}

.projects-item div {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    z-index: 2;
}

.projects-item img {
    width: 100%;
    z-index: 1;
}

#about {
    margin-top: 16px;
}

#about h3{
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: solid #ccc;
}

#about p {
    font-size: 14px;
    padding: 8px 0;
}

.about-content {
    display: flex;
    flex-flow: row wrap;
    margin: 20px auto;
    justify-content: space-around;
}

.about-item {
    max-width: 375px;
    margin: 8px;
    text-align: left;
    display: inline-block;
}

.about-item img {
    width: 100%;
    filter: grayscale(80%);
}

.about-item h3 {
    font-size: 25px;
    font-weight: lighter;
    margin: 8px 0 20px 0;
    color: #000;
}

.about-item p {
    font-size: 14px;
    margin: 20px 0;
}

.about-item p span {
    color: #ccc;
}

.about-content button {
    background-color: #f1f1f1;
    border: none;
    color: #000;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.about-content button:hover {
    background-color: #ccc;
}

#contact h3{
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: solid #ccc;
}

#contact p {
    font-size: 14px;
}

form {
    margin-bottom: 40px;
}

form div {
    margin: 20px 0;
}

input{
    width: 100%;
    min-height: 20px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
}

input[type=submit] {
    width: 200px;
    min-height: 20px;
    padding: 8px;
    margin-top: 12px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    transition-duration: 0.2s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ccc;
    color: #000;
}

.content-maps {
    margin-bottom: 52px;
}

.content-maps img {
    width: 100%;
}

.contact-list h3 {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr {
    border: 1px solid #ccc;
    font-size: 14px;
}
  
tr:nth-child(odd) {
    background-color: #f1f1f1;
}

th {
    background-color: #fff;
}

footer {
    font-size: 10px;
    text-align: center;
    padding: 12px;
    background-color: #000;
    margin-top: 32px;
    color: #fff;
    min-height: 24px;
}

@media screen and (max-width: 666px) {
    header {
        margin: 0;
    }

    .nav-item-right {
        display: none;
    }

    .title-image span {
        display: none;
    }

    .container {
        margin-left: 10%;
        margin-right: 10%;
    } 

    .projects-item, .about-item {
        max-width: 100%;
    }

    tr {
        font-size: 10px;
    }
}

@media only screen and (min-width: 667px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .projects-item, .about-item {
        max-width: 47%;
    }
} 

@media only screen and (min-width: 992px) {
    .container {
        margin-left: 8%;
        margin-right: 8%;
    }

    .projects-item, .about-item {
        max-width: 48%;
    }
}

@media only screen and (min-width: 1253px) {
    .container {
        margin-left: 93px;
        margin-right: 94px;
    }

    .projects-item, .about-item {
        max-width: 23.2%;
    }
} 